{% extends "base.html.twig" %}

{% block body %}
	<div class="wrapper">
		<div class="content">
			<div class="one-third">
				<img src="{{ asset('images/artista.jpg') }}" alt="" class="frame left" />
			</div>
			<div class="two-third last" style="text-align:justify;">
				<h2>Chi sono</h2>
				<p>Mi chiamo <b>Lorenzo Fiorentino</b> e sono nato a Napoli nel 1973. <br/>Ho conseguito il Diploma di Arte Applicata con specializzazione in Arte della Stampa presso l'istituto Statale D'Arte Filippo Palizzi di Napoli e ho frequentato un corso di <b>aerografia</b> presso la ditta <strong>Glasurit Vernici</strong> di Bologna. La mia passione per la decorazione e la sperimentazione mi ha portato ad affinare varie tecniche artistiche, applicandole in campi completamente diversi: dal design all'arredo, all'abbigliamento o al motociclismo.</p>
				<h3>Tipologie di lavori</h3>
				<p>E' difficile definire l'ambito di applicazione di un lavoro vario e di continua sperimentazione come quello del decoratore. Trasformare un oggetto o un ambiente in qualcosa di speciale, unico, personalizzato e bello: questo è il mio lavoro. <br/><br/>E ogni cosa pu&ograve; diventare speciale con la creativit&agrave;, gli strumenti, le tecniche e l'esperienza giusta.<br/><br/> Per le attivit&agrave; commerciali, sempre in cerca di novit&agrave; e distinzione, ho eseguito lavori di ogni tipo: allestimenti di spazi, negozi e stand fieristici, creazione di ambientazioni, scenografie e insegne pubblicitarie, materiale grafico e pubblicitario. <br/><br/>Per i privati mi sono occupato principalmente di decorazioni su porte, vetrate artistiche e serrande, creazione di oggetti di design e per l'arredamento, armadi a muro, cucine, camini, lampade, tavoli e altro ancora.</p>
				<h3>Tecniche</h3>
				<p>Data la mia formazione, sono specializzato principalmente nella decorazione tramite aerografie. Ho aerografato qualsiasi cosa: auto, moto, caschi, biciclette, imbarcazioni, tavole da surf, pagaie, telefoni, computer, mouse, pipe e altro ancora.<br/>In ambito pittorico ho utilizzato anche le tecniche dell'affresco, murales e trompe l'oeil.<br/>Nella decorazione degli spazi ho invece utilizzato le tecniche del mosaico, delle greche e della modellazione di vari materiali.
				<h3>Materiali</h3>
				<p>Ho lavorato superfici in cera, maiolica, marmo, vetro, polistirolo, cartongesso, ma anche metalli, legno, gomma, tessuti e qualsiasi altro materiale che possa accendere la mia creativit&agrave;.<br/></p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}
