<div class="bottom-wrapper">
	<div class="bottom">
		<p>© 2019 Developed by <a href="http://www.dryvelop.website" target="_blank">Dryvelop</a></p>
		<a href="javascript:void(0);" class="scroll-top" title="Torna su"></a>
	</div>
</div>
